



body{
  margin: auto;
  font-family:'New Tegomin', serif;
  background-color:#f1f1f1;


}

h1 {
  text-align: center;
}






ul{
list-style-type: none;
margin:80px;
padding: 0px;
background-color: #f1f1f1;
position: fixed;
top: 0;
width: 100%
}

li{
  float: left;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 60px 60px;
  text-decoration: none;
  font-size: 10px;
}

li a:hover, .dropdown:hover {
  background-color:#424949;
  color: #FFFFFFFF;
}

.dropdown-content {
  display: none;
  position: absolut;
  background-color: #f9f9f9;
  min-width: 140px;

  z-index: 1;
}

.dropdown-content a {

  color: black;
  padding: 30px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
      background-color: #555;
      color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}





div.a {
  text-align: center;
}

div.b {
  text-align: right;
}





wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}


@media all and (min-width: 600px){
 .aside {
   flex: 1 0 0;
  }

}

@media all and (min-width: 800px){
  .main{
    flex: 3 0;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }

}



@media all and (max-width: 800px){

  .navigation{
    justify-content: space-around;
  }

  .grid-container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }


}


@media all and (max-width: 600px){

  .navigation{
    flex-flow: column wrap;
    padding: 0px;
  }

  .navigation a{
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a{
    border-bottom: none;
  }

}
